header {
  width: 100%;
  background-color: #6699CC;
  background: url(../images/abstract-background.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-family: sans-serif;
  color: white;
}

.name {
  margin-top: -30px
}

