nav {
  height: 100px;
  width: 100%;
  background-image: url(../images/blue-wallpaper.jpeg);
  color: #FFFF;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  top: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.logo {
  display: flex;
  text-align: end;
  flex-wrap: wrap;
  font-size: 1.75rem;
  font-family: 'Bungee', sans-serif;
  justify-content: center;
  flex-direction: column;
}

div.write-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span.write-new-tweet {
  font-size: 1rem;
  font-family: "Arial Bold", sans-serif;
}


@media only screen and (min-width: 1024px)  {
  nav {
    height: 120px;
  }

  .logo {
    font-size: 3rem;
  }

  span.write-new-tweet {
    font-size: 1.5rem;
  }
}
