.new-tweet {
  display:flex;
  flex-direction: column;
  width: 90%;
  background-color:#f4f1ec;
  font-family: sans-serif;
}

#new-tweet-form {
  display: flex;
  flex-direction: column;
}

#tweet-text {
  background-color: #f4f1ec;
  border: hidden;
  border-bottom: 3px solid black;
  margin-bottom: 5px;
}

.new-tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  font-size: 24px;
  margin-top: 5px; 
}

#submit {  
  background-color: #162966;
  color: white;
  border-style:groove;
  font-weight: bolder;
}

#submit:hover {  
  background-color: lightsteelblue;
}

.invalid {
  color: red
}

.error-message-box {
    display: flex;
    border: 3px solid red;
    justify-content: space-around;
    color: red;
    padding: 20px;
    font-size: 20px;
    font-family: sans-serif;
  }

.fa-exclamation-triangle {
  margin-left: 5px;
  margin-right: 5px;
}

@media only screen and (min-width: 1024px) {
 .new-tweet {
   width: 100%;
 } 
}